<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766139655028-re8mdnekk9t5klj03rcj4dp77fnolj8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766139655028-re8mdnekk9t5klj03rcj4dp77fnolj8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBDK9cbmdcbnlU9frPNQjNd8FZmWRUldR8</string>
	<key>GCM_SENDER_ID</key>
	<string>766139655028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orEnPepite</string>
	<key>PROJECT_ID</key>
	<string>or-en-pepite</string>
	<key>STORAGE_BUCKET</key>
	<string>or-en-pepite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766139655028:ios:4ef0e56429b97634378221</string>
</dict>
</plist>